<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginReg</servlet-name>
        <servlet-class>com.PatientLoginReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocRegPageServlet</servlet-name>
        <servlet-class>com.DocRegPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPageServlet</servlet-name>
        <servlet-class>com.ForgotPasswordPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientMyProfileEditServlet</servlet-name>
        <servlet-class>com.PatientMyProfileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackPageServlet</servlet-name>
        <servlet-class>com.FeedbackPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackPatientServlet</servlet-name>
        <servlet-class>com.FeedbackPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHomePageServlet</servlet-name>
        <servlet-class>com.PatientHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookAppointment</servlet-name>
        <servlet-class>com.bookAppointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocRegPageServlet</servlet-name>
        <url-pattern>/DocRegPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginReg</servlet-name>
        <url-pattern>/PatientLoginReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPageServlet</servlet-name>
        <url-pattern>/ForgotPasswordPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientMyProfileEditServlet</servlet-name>
        <url-pattern>/PatientMyProfileEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackPageServlet</servlet-name>
        <url-pattern>/FeedbackPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackPatientServlet</servlet-name>
        <url-pattern>/FeedbackPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHomePageServlet</servlet-name>
        <url-pattern>/PatientHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookAppointment</servlet-name>
        <url-pattern>/bookAppointment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            loginPage.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
